* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}

:root{
    --primary-color: #F07807;
    --secundary-color: #FEF2E7;
    --default-shadow: 0 4px 4px #0004;
    --default-padding: 0 80px;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--secundary-color);
}

header{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 60px;
    padding: var(--default-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff5;
    z-index: 999;
}

header menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

header li{
    padding: 4px 8px;
    transition: .5s;
}
header li:hover{
    background-color: var(--secundary-color);
    box-shadow: 0 4px 8px #0005;
}

header button {
    height: 48px;
    width: 120px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 8px #0005;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--secundary-color);
    color: var(--primary-color);
    font-weight: 600;
    font-family: inherit;
}

section{
    height: 100vh;
    padding: var(--default-padding);
}
.home {
    /* background-color: aquamarine; */
    background-image: url(./img/bg-home.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    display: grid;
    grid-template-rows: 70% 30%;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 64px;
}
.hero h2 {
    font-size: 4rem;
    width: 568px;
    font-weight: 500;
    position: relative;
    bottom: 80px;
    font-style: italic;
}
.hero span{
    color: var(--primary-color)
}
.container-produtos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pizza {
    position: relative;
    display:flex;
    border-radius: 12px;
}
.add-produto {
    position: absolute;
    top: -16px;
    right: -20px;
    display: grid;
    place-content: center;
    height: 40px;
    width: 40px;
    font-size: 2rem;
    color: white;
    border-radius: 12px;
    border: 2px solid white;
    top: -16px;
    right: -16px;
    background-color: var(--primary-color);
    opacity: 0;
    transition: .5s;
}

.pizza:hover .add-produto {
    opacity: 1;
}

.animacao{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 0 0 12px 12px;
}

.container-info {
    display: flex;
    height: 36px;
    width: 100%;
    padding: 0 16px;
    position: absolute;
    bottom: -36px;
    background-color:#0008;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0008;
    transition: .6s;
}

.pizza:hover .container-info{
    bottom: 0;
}

.container-info p {
    width: 100px;
    font-size: 12px;
    color: white;
}

.container-info span{
    display: grid;
    place-content: center;
    width: 57px;
    height: 20px;
    background-color: var(--primary-color);
    font-size: 10px;
    color: white;
    border-radius: 4px;
}

.cardapio {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.titulo-secao {
    display: flex;
    align-items: center;
    gap: 24px;
}

.titulo-secao h3 {
    font-size: 40px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 600;
}

.opcoes-cardapio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    border-bottom: 2px solid --secundary-color;
    padding-bottom: 30px;

}

.titulo-opcoes {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}

.titulo-opcoes h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.titulo-opcoes a {
    font-size: 1.5rem;
    font-weight: 600;
}

.opcoes-cardapio.bebida {
    border: none;
}

.pizza.bebida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 16px;
    transition: .5s;
}

.pizza.bebida :hover {
    box-shadow: 4px 2px 8px #AAA;
}

.pizza.bebida .valor {
    color: var(--primary-color);
    width: 100%;
}

.pizza.bebida.descricao {
    font-size: 8px;
}

.servicos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.opcoes-servicos {
    display: flex;
    justify-content: space-between;
}

.servico-card {
    width: 400px;
    height: 500px;
    border: 4px solid var(--primary-color);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

.servico-card img {
    filter: drop-shadow(1px 1px 4px #777)
}

.servico-card h4 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 400;
    text-shadow: 2px 2px 4px #777;
}

.servico-card p {
    text-align: center;
    font-size: 1.2rem;

}

footer{
    background-color: var(--primary-color);
    height: 526px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.contatos-container {
    display: flex;
    gap: 32px;
    flex-grow: 1;
    width: 70%;
    justify-content: space-between;
}

.contatos-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 120px;
}

.contatos-item.logo {
    justify-content: center;
    padding: 0;
}

.contatos-item h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

.contatos-item menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    font-weight: 330;
}

.contatos-item li {
    display: flex;
    gap: 16px;
}

.social a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    transition: 0.5s;
}

.social a:hover {
    background-color: var(--secundary-color);
    color: var(--primary-color);
}

.creditos {
    height: 72px;
    border-top: 1px solid var(--secundary-color);
    width: 100%;
    display: grid;
    place-content: center;
    font-size: 0.7rem;
    font-weight: 300;
    font-style: italic;
}

@media (max-width: 1024px) {
   header {
       position: absolute;
       background-color: transparent;
       left: 0;
       top: 48px;
   }
   header menu {
       width: 100vw;
       height: 64px;
       position: fixed;
       left: 0;
       bottom: 0;
       background-color: var(--primary-color);
       z-index: 999;
       color: #fff;
       justify-content: space-evenly;
       /* pointer-events: none; */
   }

   header li:hover {
       color: var(--primary-color);
   }

   .home {
       grid-template-rows: none;
   }

   .hero {
       flex-direction: column-reverse;
       align-items: center;
       justify-content: end;

       padding-bottom: 150px;
   }

   .home .container-produtos {
       display: none;
   }

   .container-produtos {
       gap: 32px;
   }

   .container-produtos .pizza {
       width: 100%;
   }

   .container-produtos img {
       width: 100%;
   }

   .container-produtos .pizza:nth-child(3),
   .container-produtos .pizza:nth-child(4),
   .container-produtos .pizza:nth-child(6)
   {
    display: none;
   }
       
   .cardapio {
       justify-content: center;
       gap: 24px;
   }

   .pizza.bebida {
       width: 20%;
   }

   .opcoes-servicos {
       flex-direction: column;
       gap: 24px;
   }

   .servico-card {
       width: 100%;
       height: 260px;
       flex-wrap: wrap;
   }

   .servico-card p {
       width: 60%;
   }

   .contatos-container {
       height: 400px;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: center;
   }

   .contatos-item {
       padding: 0;
   }

   .contatos-item:nth-child(2){
       display: none;
   }

   .contatos-item.social {
       align-items: end;
   }

   .creditos {
       margin-bottom: 64px;
   }

}